/*MAIN CSS*/
*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
body{
	font-family: 'Abel',Helvetica,Arial,freesans,sans-serif;
	background-color: #DEF2F1;
}

/*Header Styles*/
header{
	background-color: #3AAFA9;
	text-align: center;
}

header div#largeheader{
	display: none;
	padding: 2em;
}

header div#largeheader h1{
	color: #FEFFFF;
	padding: 0.5em;
}
header div#largeheader p{
	color: #17252A;
}

header div#smallheader{
	display: block;
	width: 100%;
	overflow: hidden;
}

header img#logo{
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
	margin: 15px 10%;
}

header div#smallheader span{
	font-size: 150%;
	color: #ffffff;
	float: right;
	line-height: 80px;
	margin-right: 10%;
	cursor: pointer;
}

/*Navigation Bar Styles*/
header #navbar{
	display: none;
	width: 100%;
	overflow: hidden;
}

 header #navbar a{
	display: block;
	width: 100%;
	font-size: 1.2em;
	color: #DEF2F1;
	padding: 8px;
	text-decoration: none;
	text-align: center;
	border-bottom: 1px solid #FEFFFF
}

header #navbar > a{
	background-color: #17252A;
}

#navbar > a:hover{
	background-color: #DEF2F1;
	color: #17252A;
}

/*Dropdown Button*/

/*div.dropdown{
	overflow: hidden;
}*/

#navbar button{
	font-family: 'Abel';
	font-size: 1.2em;
	border:none;
	color: #DEF2F1;
	padding: 8px;
	background-color: #17252A;
	display: block;
	width: 100%;
	cursor: pointer;
}

#navbar button:hover{
	background-color: #DEF2F1;
	color: #17252A;
}

div.dropdownContent{
	display: none;
	width: 100%;
	position: absolute;
	background-color: #3AAFA9;
	min-width: 160px;
	z-index: 1;
}

.dropdownContent a{
	display: block;
	width: 100%;
	background-color: #3AAFA9;
	text-align: center;
}

.dropdownContent a:hover{
	color: #FEFFFF;
	background-color: #2B7A78;
}

.dropdown:hover .dropdownContent{
	display: block;
}

div.content{
	display: block;
	width: 70%;
	margin: 3em auto;
}

div.content p{
	margin-bottom: 1.5em;
}

div.content p.greeting{
	font-size: 250%;
	color: #3aafa9;
	font-weight: bold;
}

div.content p.greeting span{
	color: #000000;
	font-size: 80%;
}

div.content p.aboutme{
	border-left: 5px solid #000000;
	padding-left: 15px;
}

div.content p.textlink{
	font-size: 120%;
}

div.content p.textlink i{
	margin-right: 15px;
	color: #3AAFA9;
	font-weight: bold;
}

div.content p.textlink a{
	text-decoration: none;
	color: #3AAFA9;
	padding: 1px 6px;
	border:1px solid #3AAFA9;
}

div.content p.textlink span{
	color: #3AAFA9;
	text-decoration: underline;
}


/*Column Layout*/
.wrapper{
	clear: both;
}
.columns{
	float: left;
	display: inline-block;
	width: 98%;
	margin: 1%;
}

@media screen and (min-width: 800px){
	header div#largeheader{
		display: block;
	}

	header div#smallheader{
		display: none;
	}

	header div#navbar{
		display: block;
		width: 100%;
		margin-left:1%;
		margin-right: 1%;
	}

	div#navbar > a{
		width: 180px;
		float: left;
		border:none;
		border-right: 1px solid #FEFFFF;
	}

	div#navbar div.dropdown{
		float: left;
		width: 180px;
	}

	div.dropdownContent{
		width: 180px;
	}


	.columns{
		width: 31.333%;
		margin:1%;
	}


}

/*Practice boards*/

.practice{
	display: inline-block;
	background-color: #FEFFFF;
	margin: 0 0 1em;
	width: 100%;
}

.practice h4{
/*	border-bottom: 1px solid #3AAFA9;*/
	padding: 16px;
	font-size: 1.5em;
}

.practiceContent{
	padding: 0 16px 16px 16px;
}

.practiceContent p{
	padding-left: 12px;
	border-left: 5px solid #17252A;
	font-size: 1em;
}

.practiceContent input{
	display: inline-block;
	padding: 16px;
	width: 100%;
	height: 3em;
	font-family: 'Abel',Helvetica,Arial,freesans,sans-serif;
	background-color: #DEF2F1;
	border:none;
	font-size: 100%;
	overflow: scroll;
}

.practiceContent button{
	display: block;
	width: 100%;
	padding: 12px;
	border: none;
	background-color: #2B7A78;
	color: #FEFFFF;
	text-decoration: none;
	text-align: center;
	font-size: 100%;
	cursor: pointer;
}

.showResult {
	min-height: 3em ;
	height: auto;
	background-color: #f0f5f5;
	color: #666666;
	padding: 16px;
	font-size: 100%;
	line-height: 1em;
	overflow: auto;
}

p.practiceDescriptn{
	margin-bottom: 2em;
}

.practiceContent .showCodeBtn{
	margin-top: 24px;
	display: inline-block;
	width: 100%;
	padding: 12px;
	border: none;
	background-color: #3AAFA9;
	color: #FEFFFF;
	text-decoration: none;
	text-align: center;
	font-size: 100%;
	cursor: pointer;
}

#Prct1Code, #Prct2Code, #Prct3Code,#Prct4Code,#Prct5Code,#Prct6Code,
#Prct7Code, #Prct8Code,#Prct9Code,#Prct10Code{
	display: none;
}

.showCode .fullSrnBtn{
	margin: 0;
	background-color: #696969;
}

.showCode .closeBtn{
	background-color: #696969;
	display: none;
	padding: 0;
	width: 2em;
	height: 2em;
	float: right;
	font-size: 1.5em;
	line-height: 2em;
}

.gameIntro{
	width: 70%;
	margin: 5em auto;
}

.gamename{
	width: 100%;
}

.gamename h2{
	width: 100%;
	margin: 0 5% 5% 0;
	font-size: 300%;
	padding: 0;
}

.gamename p{
	margin: 0;
	width: 100%;
	display: inline-block;
	font-size: 120%;
	padding-left: 5%;
	border-left: 5px solid #17252A;
	color: #2B7A78;
}

@media screen and (min-width: 900px){
	.gamename h2{
		display: inline-block;
		width: 25%;
		float: left;
		margin: 0 5% 0 0;
		padding: 0 0 0 5%;
	}
	.gamename p{
		width: 65%;
	}
}

.howToPlay{
	clear: left;
	display: block;
	margin-top: 10%;
	background-color: #FEFFFF;
	padding: 5%;
	border-radius: 1em;
}

.howToPlay h4{
	font-size: 150%;
	color: #3AAFA9;
	margin: 0;
}

.howToPlay p{
	font-size: 120%;
	color: #17252A;
}


#pongGamePlay, #playBtn{
	display: flex;
	min-width: 600px;
	justify-content: center;
	align-items: center;
	margin-bottom: 5em;
}


footer{
	display: block;
	width: 100%;
	height: 2em;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #000000;
	color: #ffffff;
	font-size: .9em;
	text-align: center;
	line-height: 2em;
}


